body {
	margin: 10px 20px;
	font-family: sans-serif;
}

div {
	margin: 20px 0;
}

li {
	padding: 10px 0;
}

.code {
	font-family: monospace;
	background-color: #eee;
	border: 1px solid #999;
	display: block;
	padding: 20px;
	margin: 10px 0;
}

.code.inline {
	display: inline;
	padding: 0 4px;
}

.hidden {
	display: none;
}

.main-task {
	font-weight: bold;
}

.solution, blockquote {
	background-color: #f3f2f7;
    padding: 10px 20px;
    border: 1px solid #300e82;
}