body {
	margin: 10px 20px;
	font-family: sans-serif;
}

div:not(.code) {
	margin: 20px 0;
}

.code {
	font-family: monospace;
	background-color: #eee;
	border: 1px solid #999;
	display: block;
	padding: 20px;
	margin: 10px 0;
}

.code.inline {
	display: inline;
	padding: 0 4px;
}